.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.scoreboard {
  margin-bottom: 20px;
}

.game-area {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  position: relative;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: lightblue;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.all-cleared {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: green;
}

label input{
  width: 50px;
  margin: 0 10px;
  border: .5px solid rgb(219, 218, 218);
  
}